<style>
  @media(min-width:750px){
    .header__icon .svg-wrapper{
      width: 70px;
    }
  }
</style>
<div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
      <div class="desktop-localization-wrapper">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {% endif %}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>

      {% comment %}
        {% render 'header-search', input_id: 'Search-In-Modal' %}
      {% endcomment %}

      
      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
          {%- if section.settings.enable_customer_avatar -%}
            <account-icon>
              {%- if customer and customer.has_avatar? -%}
                {{ customer | avatar }}
              {%- else -%}
                <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
              {%- endif -%}
            </account-icon>
          {%- else -%}
            <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
          {%- endif -%}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
        {%- endcase -%}
      {%- endfor -%}

<a href="#swym-wishlist" class="swym-wishlist">
  <?xml version="1.0" encoding="UTF-8"?>
<svg id="_图层_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 16 16">
  <!-- Generator: Adobe Illustrator 29.0.0, SVG Export Plug-In . SVG Version: 2.1.0 Build 186)  -->
  <defs>
    <style>
      .st0 {
        fill: #121212;
      }
    </style>
  </defs>
  <path class="st0" d="M4.71,1.76h0c1.05,0,2.06.43,2.8,1.17.15.15.34.22.54.22s.37-.07.52-.21c.74-.71,1.7-1.11,2.77-1.11h0c1.05,0,2.03.43,2.76,1.17s1.13,1.74,1.12,2.79v.16c-.02,1.21-.53,2.42-1.35,3.17l-5.31,4.85c-.17.15-.4.25-.65.25s-.46-.09-.64-.25l-5.2-4.96c-.8-.76-1.28-1.98-1.27-3.2v-.16c0-.5.11-.99.3-1.46.07-.17.15-.34.25-.5.6-1.01,1.61-1.69,2.77-1.87.2-.03.4-.05.6-.05M4.71,1.02c-.24,0-.47.02-.71.05-1.42.22-2.6,1.07-3.3,2.23-.11.19-.21.39-.3.6-.23.54-.35,1.13-.36,1.74v.16c-.02,1.41.56,2.85,1.5,3.75l5.2,4.96c.31.29.72.46,1.15.46h.02c.42,0,.83-.15,1.14-.44l5.31-4.85c.97-.87,1.58-2.3,1.58-3.71v-.16c.03-2.58-2.04-4.69-4.62-4.72h-.05c-1.21,0-2.39.47-3.25,1.32-.88-.89-2.09-1.39-3.33-1.39h.02Z"/>
</svg>
</a> 
      
      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
          {% if cart == empty %}
            <span class="svg-wrapper">{{'icon-cart-empty.svg' | inline_asset_content }}</span>
          {% else %}
            <span class="svg-wrapper">{{'icon-cart.svg' | inline_asset_content }}</span>
          {% endif %}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>