<style>
  #ns-free {
    border-radius: 3px;
    background: #FAFAFA;
    box-shadow: 0px 8px 8px 0px rgba(147, 147, 147, 0.20);
    padding: 14px 30px;

    display: flex;
    /* align-items: center; */
    gap: 15px;
    padding: 25px 18px;
  }
  #ns-free .gift-img{
    border-radius: 3px;
    border: 1px solid #79A88B;
  }
</style>

{% liquid 
  assign block = block
  assign bs = block.settings
  assign product = bs.product
  assign title = bs.title
%}


<div id="ns-free" data-section="{{ section.id }}" {{ block.shopify_attributes }}>
  <div class>
    <img class="gift-img" src="{{ product.featured_image.src | img_url: '93x' }}" alt="{{ title }}" loading="lazy" width="93" height="93" />
  </div>
  <form method="post" action="/cart/add">
    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
    {% comment %} <input min="1" type="number" id="quantity" name="quantity" value="1"/> {% endcomment %}
    <input type="submit" value="Add to cart" class="btn" />
  </form>
</div>

<script>
  
</script>