<style>
  #ns-instock {
    
  }

</style>

{% liquid 
  assign block = block
  assign bs = block.settings
  assign title = bs.title
  assign number_left = bs.number_left | default: 28
%}

<div id="ns-instock" data-section="{{ section.id }}" {{ block.shopify_attributes }}>
  <div class="instock-title">{{ title }}</div>
  <div class="progress">
    <span class="instock-text">Only {{ number_left }} left</span>
    <div class="progress-bar">
      <div class="progress-bar-inner" style="width: {{ number_left | times: 100 | divided_by: 100 }}%;"></div>
    </div>
  </div>
</div>