<style>
  #ns-instock {
    border-radius: 3px;
    background: #FAFAFA;
    box-shadow: 0px 8px 8px 0px rgba(147, 147, 147, 0.20);
    padding: 14px 30px;
  }
  #ns-instock .instock-title {
    color: var(---brand-color, color(display-p3 0.5137 0.6549 0.5529));
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
</style>

{% liquid 
  assign block = block
  assign bs = block.settings
  assign title = bs.title
  assign number_left = bs.number_left | default: 28
  assign number_total = 120
%}

<div id="ns-instock" data-section="{{ section.id }}" {{ block.shopify_attributes }}>
  <div class="instock-title">{{ title }}</div>
  <div class="progress">
    <span class="instock-text">Only {{ number_left }} left</span>
    <div class="progress-bar">
      <div class="progress-bar-inner" style="width: {{ number_left | times: 100 | divided_by: number_total}}%;"></div>
    </div>
  </div>
</div>