<style>
  #ns-icons {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  #ns-icons .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  #ns-icons .ns-text{
    font-size: 15px;
    text-align: center;
    line-height: 1.2;
    color: #505050;
  }
  #ns-icons .ns-icon{
    margin-bottom: 10px;
  }
  #ns-icons .ns-icon svg{
    display: block;
  }
  @media (max-width: 1200px){
    #ns-icons .ns-text{
      font-size: 10px;
      line-height: 16px;
    }
    #ns-icons .ns-icon{
      width: 40px;
    }
    #ns-icons .ns-icon svg{
      width: 100%;
      height: unset;
    }
  }
</style>

{% liquid 
  assign block = block
  assign bs = block.settings
  assign icon_1 = bs.svg_1
  assign icon_2 = bs.svg_2
  assign icon_3 = bs.svg_3
  assign text_1 = bs.text_1
  assign text_2 = bs.text_2
  assign text_3 = bs.text_3
%}

<div id="ns-icons" data-section="{{ section.id }}" {{ block.shopify_attributes }}>
  {% if icon_1 != blank and text_1 != blank %}
  <div class="item">
    <div class="ns-icon">
      {{ icon_1 }}
    </div>
    <div class="ns-text">
      {{ text_1 }}
    </div>
  </div>
  {% endif %}
  {% if icon_2 != blank and text_2 != blank %}
    <div class="item">
      <div class="ns-icon">
        {{ icon_2 }}
      </div>
      <div class="ns-text">
        {{ text_2 }}
      </div>
    </div>
    {% endif %}
    {% if icon_3 != blank and text_3 != blank %}
      <div class="item">
        <div class="ns-icon">
          {{ icon_3 }}
        </div>
        <div class="ns-text">
          {{ text_3 }}
        </div>
      </div>
      {% endif %}
</div>