<style>
  #shopify-section-{{section.id}} .banner .swiper-button-prev{
    left: 70px;
  }
  #shopify-section-{{section.id}} .banner .swiper-button-next{
    right: 70px;
  }
  #shopify-section-{{section.id}} .banner-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
  }
  #shopify-section-{{section.id}} .banner-wrapper .banner-container{
    max-width: 60%;
  }
  #shopify-section-{{section.id}} .banner-title{
    font-size: 50px;
    line-height: 60px;
    /* font-weight: 700; */
    margin-top: 0;
    margin-bottom: 25px;
    color: #fff;
  }
  #shopify-section-{{section.id}} .banner-content{
    font-size: 23px;
    line-height: 35px;
    font-weight: 400;
    margin: 0;
    color: #fff;
  }
  #shopify-section-{{section.id}} .banner .swiper-pagination{
    bottom: 37px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  #shopify-section-{{section.id}} .banner .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background: transparent;
    border: 1px solid #fff;
    opacity: 1;
  }
  #shopify-section-{{section.id}} .banner .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: #fff;
    border: 1px solid #fff;
  }
  @media screen and (max-width: 1200px) {
    #shopify-section-{{section.id}} .banner-title{
      font-size: 30px;
      line-height: 42px;
    }
    #shopify-section-{{section.id}} .banner-wrapper .banner-container{
      max-width: 40%;
    }
  }
  @media screen and (max-width: 749px) {
    #shopify-section-{{section.id}} .banner .swiper-button-prev{
      display: none;
    }
    #shopify-section-{{section.id}} .banner .swiper-button-next{
      display: none;
    }
    #shopify-section-{{section.id}} .banner-title{
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 16px;
    }
    #shopify-section-{{section.id}} .banner-content{
      font-size: 12px;
      line-height: 18px;
    }
    #shopify-section-{{section.id}} .banner-wrapper .banner-container{
      text-align: left;
      max-width: 100%;
      margin-left: 0;
    }
    #shopify-section-{{section.id}} .banner-wrapper{
      align-items: flex-end;
      padding-bottom: 70px;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    #shopify-section-{{section.id}} .banner .swiper-pagination-bullet{
      width: 8px;
      height: 8px;
    }
    #shopify-section-{{section.id}} .banner .swiper-pagination{
      bottom: 17px;
      gap: 14px;
    }
  }
</style>

<div class="banner" data-name="ns">
  <div class="swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %} 
      <div class="swiper-slide item">
          <div class="img-wrapper">
            {% render 'responsive-image',
              sid: section.id,
              image_desktop: block.settings.pc_image,
              image_mobile: block.settings.mobile_image,
              alt: block.settings.title,
              lazy: false,
              preload: true
            %}
          </div>
          <div class="banner-wrapper page-width">
            <div class="banner-container">
              <div>
                <h2 class="banner-title">{{ block.settings.title }}</h2>
                <p class="banner-content">{{ block.settings.content }}</p>
              </div>
              {% if block.settings.url != blank %}
                <a href="{{ block.settings.url }}" class="banner-btn">{{block.settings.btn_name}}</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-button-prev">
      {% render 'banner-prev' %}
    </div>
    <div class="swiper-button-next">
      {% render 'banner-next' %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
  
</div>

<script>
  
    const banner_swiper = new Swiper('.banner .swiper', {
      loop: true,
      navigation: {
        nextEl: '.banner .swiper .swiper-button-next',
        prevEl: '.banner .swiper .swiper-button-prev',
      },
      pagination: {
        el: '.banner .swiper-pagination',
        clickable: true,
      },
    })

</script>

{% schema %}
{
  "name": "Home banner",
  "tag": "section",
  "class": "home-banner",
  "limit": 1,
  "max_blocks": 3,
  "settings": [],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "pc_image",
          "label": "pc_image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "mobile_image"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "title"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "content"
        },
        {
          "type": "url",
          "id": "url",
          "label": "url"
        },
        {
          "type": "text",
          "id": "btn_name",
          "label": "btn_name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home banner"
    }
  ]
}
{% endschema %}
