<style>
  #shopify-section-{{section.id}} .banner-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
  }
  #shopify-section-{{section.id}} .banner-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  #shopify-section-{{section.id}} .banner-content{
    font-size: 16px;
  }
  @media screen and (max-width: 749px) {

  }
</style>

<div class="banner">
  <div class="swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %} 
      <a class="swiper-slide item" {% if block.settings.url != blank %}href="{{ block.settings.url }}"{% endif %}>
          <div class="img-wrapper">
            {% render 'responsive-image',
              sid: section.id,
              image_desktop: block.settings.pc_image,
              image_mobile: block.settings.mobile_image,
              alt: block.settings.title,
              lazy: false,
              preload: true
            %}
          </div>
          <div class="banner-wrapper page-width">
            <div class="banner-container">
              <h2 class="banner-title">{{ block.settings.title }}</h2>
              <p class="banner-content">{{ block.settings.content }}</p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
  
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const banner_swiper = new Swiper('.banner .swiper', {
      loop: true,
      navigation: {
        nextEl: '.banner .swiper-button-next',
        prevEl: '.banner .swiper-button-prev',
      }
    })
  })
</script>

{% schema %}
{
  "name": "Home banner",
  "tag": "section",
  "class": "home-banner",
  "limit": 1,
  "max_blocks": 3,
  "settings": [],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "pc_image",
          "label": "pc_image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "mobile_image"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "title"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "content"
        },
        {
          "type": "url",
          "id": "url",
          "label": "url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home banner"
    }
  ]
}
{% endschema %}
