<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">

{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}


<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
    margin-left: 20%;
  }
  .header:not(.drawer-menu).page-width{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    max-width: none;
  }
  .header__icons_mobile{
    display:none;
  }

  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    /* gap:40px; */
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }
  .track-order-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .track-order-wrapper svg{
    display: block;
  }
  @media screen and (max-width: 990px) {
    .track-order-wrapper{
      display: none;
    }
  }
  @media screen and (max-width: 989px) {
    .header__heading-link{
      padding: 16px 0;
    }
  }
  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
  @media screen and (max-width: 750px) {
    .header__icons_mobile{
    display:flex;
  }
    #shopify-section-{{section.id}} .header__icons{
      margin-left: 0 !important;
    }
    

    
}
</style>

{%- style -%}
  .header {
    padding: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px 3rem {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px 3rem;
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  {%- liquid
    assign social_links = false
    assign localization_forms = false

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
      assign social_links = true
    endif

    if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
      assign localization_forms = true
    endif
  -%}
  <header class="header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} page-width{% if section.settings.menu_type_desktop == 'drawer' %} drawer-menu{% endif %}{% if section.settings.menu != blank %} header--has-menu{% endif %}{% if has_app_block %} header--has-app{% endif %}{% if social_links %} header--has-social{% endif %}{% if shop.customer_accounts_enabled %} header--has-account{% endif %}{% if localization_forms %} header--has-localizations{% endif %}">
    {%- liquid
      if section.settings.menu != blank
        render 'header-drawer'  block:section.blocks
      endif
    
    -%}


    <div class="left-menu small-hide">
      {% if section.settings.url != blank %}
        <a href="{{ section.settings.url }}" class="header__heading-link link link--text focus-inset track-order-wrapper">
          <span>{% render 'track-icon' %}</span>
          <span style="font-weight: 400;">{{ section.settings.url_name }}</span>
        </a>
      {% endif %}
    </div>

    {%- if section.settings.logo_position != 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo motion-reduce',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}
    {% if section.settings.icon_show_on_top == true %}
      {% render 'header-icon-list' block:section.blocks %}
    {% endif %}
    
      {% if section.settings.menu != blank %}
        {% if section.settings.menu_type_desktop == 'dropdown' %}
          {% render 'header-dropdown-menu' block:section.blocks %}
          {% elsif section.settings.menu_type_desktop != 'drawer' %}
          {% render 'header-mega-menu' block:section.blocks %}
          {% endif %}
        {% endif %}
          
       
      
    

    {%- if section.settings.logo_position == 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %} header__icons_mobile ">
      <div class="desktop-localization-wrapper">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {% endif %}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
 
      

      
      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
          {%- if section.settings.enable_customer_avatar -%}
            <account-icon>
              {%- if customer and customer.has_avatar? -%}
                {{ customer | avatar }}
              {%- else -%}
                <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
              {%- endif -%}
            </account-icon>
          {%- else -%}
            <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
          {%- endif -%}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
        {%- endcase -%}
      {%- endfor -%}

      <a href="/pages/swym-share-wishlist" class="header__icon link"><span style="display: none;">wishlist</span>
      <svg class="icon" width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.0737 2.08829C16.665 1.67949 16.1799 1.35521 15.646 1.13395C15.112 0.912704 14.5397 0.798828 13.9617 0.798828C13.3837 0.798828 12.8113 0.912704 12.2773 1.13395C11.7434 1.35521 11.2583 1.67949 10.8497 2.08829L10.0017 2.93629L9.15366 2.08829C8.3283 1.26294 7.20888 0.799255 6.04166 0.799255C4.87443 0.799255 3.75501 1.26294 2.92966 2.08829C2.1043 2.91364 1.64062 4.03306 1.64062 5.20029C1.64062 6.36751 2.1043 7.48694 2.92966 8.31229L3.77766 9.16029L10.0017 15.3843L16.2257 9.16029L17.0737 8.31229C17.4825 7.90368 17.8067 7.41854 18.028 6.88458C18.2493 6.35061 18.3631 5.77828 18.3631 5.20029C18.3631 4.6223 18.2493 4.04997 18.028 3.516C17.8067 2.98204 17.4825 2.4969 17.0737 2.08829Z" stroke="#121212" style="stroke:#121212;stroke:color(display-p3 0.0706 0.0706 0.0706);stroke-opacity:1;" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>

      
      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
          {% if cart == empty %}
            <span class="svg-wrapper">{{'icon-cart-empty.svg' | inline_asset_content }}</span>
          {% else %}
            <span class="svg-wrapper">{{'icon-cart.svg' | inline_asset_content }}</span>
          {% endif %}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>

  </header>
</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' || this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      };

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "url",
      "id": "url",
      "label": "left url"
    },
    {
      "type": "text",
      "id": "url_name",
      "label": "Left url name"
    },   
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__7.content",
      "info": "t:sections.header.settings.header__7.info"
    },
    {
      "type": "checkbox",
      "id": "enable_customer_avatar",
      "default": true,
      "label": "t:sections.header.settings.enable_customer_avatar.label",
      "info": "t:sections.header.settings.enable_customer_avatar.info"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    },
    {
      "type":"checkbox",
      "id":"icon_show_on_top",
      "label":"Icon show on top",
      "default":false
      
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "contact",
      "name":"contact",
      "settings":[
        {
          "type":"image_picker",
          "id":"icon",
          "label": "icon"
        },
        {
          "type":"inline_richtext",
          "id":"text",
          "label": "text"
        }
      ]
    },
    {
      "type": "item_blocks",
      "name":"item_blocks",
      "settings":[
        {
          "type":"text",
          "id":"link_title",
          "label": "link_title"
        },
        {
          "type":"image_picker",
          "id":"link_banner",
          "label": "link_banner"
        },
        {
          "type":"inline_richtext",
          "id":"link_tap",
          "label": "link_tap"
        },
        {
          "type":"url",
          "id":"link_tap_url",
          "label": "link_tap_url"
        },
        {
          "type": "header",
          "content": "item-1"
          
        },
        {
        "type":"inline_richtext",
        "id":"title_1",
        "label": "title_1"
      },
      {
        "type":"image_picker",
        "id": "image_1_1",
        "label": "image_1_1"
      },
      {
        "type":"inline_richtext",
        "id": "text_1_1",
        "label": "text_1_1"
      },
      {
        "type":"url",
        "id": "text_1_1_url",
        "label": "text_1_1_url"
      },
      {
        "type":"image_picker",
        "id": "image_1_2",
        "label": "image_1_2"
      },
      {
        "type":"inline_richtext",
        "id": "text_1_2",
        "label": "text_1_2"
      },
      {
        "type":"url",
        "id": "text_1_2_url",
        "label": "text_1_2_url"
      },
      
      {
        "type":"image_picker",
        "id": "image_1_3",
        "label": "image_1_3"
      },
      {
        "type":"inline_richtext",
        "id": "text_1_3",
        "label": "text_1_3"
      },
      {
        "type":"url",
        "id": "text_1_3_url",
        "label": "text_1_3_url"
      },
      {
        "type":"image_picker",
        "id": "image_1_4",
        "label": "image_1_4"
      },
      {
        "type":"inline_richtext",
        "id": "text_1_4",
        "label": "text_1_4"
      },
      {
        "type":"url",
        "id": "text_1_4_url",
        "label": "text_1_4_url"
      },
      {
        "type":"image_picker",
        "id": "image_1_5",
        "label": "image_1_5"
      },
      {
        "type":"inline_richtext",
        "id": "text_1_5",
        "label": "text_1_5"
      },
      {
        "type":"url",
        "id": "text_1_5_url",
        "label": "text_1_5_url"
      },
      {
        "type":"image_picker",
        "id": "image_1_6",
        "label": "image_1_6"
      },
      
      {
        "type":"inline_richtext",
        "id": "text_1_6",
        "label": "text_1_6"
      },
      {
        "type":"url",
        "id": "text_1_6_url",
        "label": "text_1_6_url"
      },
      {
        "type":"image_picker",
        "id": "image_1_7",
        "label": "image_1_7"
      },
      {
        "type":"inline_richtext",
        "id": "text_1_7",
        "label": "text_1_7"
      },
      {
        "type":"url",
        "id": "text_1_7_url",
        "label": "text_1_7_url"
      },
      {
        "type":"image_picker",
        "id": "image_1_8",
        "label": "image_1_8"
      },
      {
        "type":"inline_richtext",
        "id": "text_1_8",
        "label": "text_1_8"
      },
      {
        "type":"url",
        "id": "text_1_8_url",
        "label": "text_1_8_url"
      },
      {
        "type":"image_picker",
        "id": "image_1_9",
        "label": "image_1_9"
      },
      {
        "type":"inline_richtext",
        "id": "text_1_9",
        "label": "text_1_9"
      },
      {
        "type":"url",
        "id": "text_1_9_url",
        "label": "text_1_9_url"
      },
      {
        "type":"image_picker",
        "id": "image_1_10",
        "label": "image_1_10"
      },
      {
        "type":"inline_richtext",
        "id": "text_1_10",
        "label": "text_1_10"
      },
      {
        "type":"url",
        "id": "text_1_10_url",
        "label": "text_1_10_url"
      },
      {
        "type":"image_picker",
        "id": "image_1_11",
        "label": "image_1_11"
      },
      {
        "type":"inline_richtext",
        "id": "text_1_11",
        "label": "text_1_11"
      },
      {
        "type":"url",
        "id": "text_1_11_url",
        "label": "text_1_11_url"
      },
      {
        "type":"image_picker",
        "id": "image_1_12",
        "label": "image_1_12"
      },
      {
        "type":"inline_richtext",
        "id": "text_1_12",
        "label": "text_1_12"
      },
      {
        "type":"url",
        "id": "text_1_12_url",
        "label": "text_1_12_url"
      },
      {
        "type":"image_picker",
        "id": "image_1_13",
        "label": "image_1_13"
      },
      {
        "type":"inline_richtext",
        "id": "text_1_13",
        "label": "text_1_13"
      },
      {
        "type":"url",
        "id": "text_1_13_url",
        "label": "text_1_13_url"
      },
      {
        "type":"image_picker",
        "id": "image_1_14",
        "label": "image_1_14"
      },
      {
        "type":"inline_richtext",
        "id": "text_1_14",
        "label": "text_1_14"
      },
      {
        "type":"url",
        "id": "text_1_14_url",
        "label": "text_1_14_url"
      },
      {
        "type":"image_picker",
        "id": "image_1_15",
        "label": "image_1_15"
      },
      {
        "type":"inline_richtext",
        "id": "text_1_15",
        "label": "text_1_15"
      },
      {
        "type":"url",
        "id": "text_1_15_url",
        "label": "text_1_15_url"
      },
        {
          "type": "header",
          "content": "item-2"
          
        },
        {
          "type":"inline_richtext",
          "id":"title_2",
          "label": "title_2"
        },
        {
        "type":"image_picker",
        "id": "image_2_1",
        "label": "image_2_1"
      },
      {
        "type":"inline_richtext",
        "id": "text_2_1",
        "label": "text_2_1"
      },
      {
        "type":"url",
        "id": "text_2_1_url",
        "label": "text_2_1_url"
      },
      {
        "type":"image_picker",
        "id": "image_2_2",
        "label": "image_2_2"
      },
      {
        "type":"inline_richtext",
        "id": "text_2_2",
        "label": "text_2_2"
      },
      {
        "type":"url",
        "id": "text_2_2_url",
        "label": "text_2_2_url"
      },
      
      {
        "type":"image_picker",
        "id": "image_2_3",
        "label": "image_2_3"
      },
      {
        "type":"inline_richtext",
        "id": "text_2_3",
        "label": "text_2_3"
      },
      {
        "type":"url",
        "id": "text_2_3_url",
        "label": "text_2_3_url"
      },
      {
        "type":"image_picker",
        "id": "image_2_4",
        "label": "image_2_4"
      },
      {
        "type":"inline_richtext",
        "id": "text_2_4",
        "label": "text_2_4"
      },
      {
        "type":"url",
        "id": "text_2_4_url",
        "label": "text_2_4_url"
      },
      {
        "type":"image_picker",
        "id": "image_2_5",
        "label": "image_2_5"
      },
      {
        "type":"inline_richtext",
        "id": "text_2_5",
        "label": "text_2_5"
      },
      {
        "type":"url",
        "id": "text_2_5_url",
        "label": "text_2_5_url"
      },
      {
        "type":"image_picker",
        "id": "image_2_6",
        "label": "image_2_6"
      },
      
      {
        "type":"inline_richtext",
        "id": "text_2_6",
        "label": "text_2_6"
      },
      {
        "type":"url",
        "id": "text_2_6_url",
        "label": "text_2_6_url"
      },
      {
        "type":"image_picker",
        "id": "image_2_7",
        "label": "image_2_7"
      },
      {
        "type":"inline_richtext",
        "id": "text_2_7",
        "label": "text_2_7"
      },
      {
        "type":"url",
        "id": "text_2_7_url",
        "label": "text_2_7_url"
      },
      {
        "type":"image_picker",
        "id": "image_2_8",
        "label": "image_2_8"
      },
      {
        "type":"inline_richtext",
        "id": "text_2_8",
        "label": "text_2_8"
      },
      {
        "type":"url",
        "id": "text_2_8_url",
        "label": "text_2_8_url"
      },
      {
        "type":"image_picker",
        "id": "image_2_9",
        "label": "image_2_9"
      },
      {
        "type":"inline_richtext",
        "id": "text_2_9",
        "label": "text_2_9"
      },
      {
        "type":"url",
        "id": "text_2_9_url",
        "label": "text_2_9_url"
      },
      {
        "type":"image_picker",
        "id": "image_2_10",
        "label": "image_2_10"
      },
      {
        "type":"inline_richtext",
        "id": "text_2_10",
        "label": "text_2_10"
      },
      {
        "type":"url",
        "id": "text_2_10_url",
        "label": "text_2_10_url"
      },
      {
        "type":"image_picker",
        "id": "image_2_11",
        "label": "image_2_11"
      },
      {
        "type":"inline_richtext",
        "id": "text_2_11",
        "label": "text_2_11"
      },
      {
        "type":"url",
        "id": "text_2_11_url",
        "label": "text_2_11_url"
      },
      {
        "type":"image_picker",
        "id": "image_2_12",
        "label": "image_2_12"
      },
      {
        "type":"inline_richtext",
        "id": "text_2_12",
        "label": "text_2_12"
      },
      {
        "type":"url",
        "id": "text_2_12_url",
        "label": "text_2_12_url"
      },
      {
        "type":"image_picker",
        "id": "image_2_13",
        "label": "image_2_13"
      },
      {
        "type":"inline_richtext",
        "id": "text_2_13",
        "label": "text_2_13"
      },
      {
        "type":"url",
        "id": "text_2_13_url",
        "label": "text_2_13_url"
      },
      {
        "type":"image_picker",
        "id": "image_2_14",
        "label": "image_2_14"
      },
      {
        "type":"inline_richtext",
        "id": "text_2_14",
        "label": "text_2_14"
      },
      {
        "type":"url",
        "id": "text_2_14_url",
        "label": "text_2_14_url"
      },
      {
        "type":"image_picker",
        "id": "image_2_15",
        "label": "image_2_15"
      },
      {
        "type":"inline_richtext",
        "id": "text_2_15",
        "label": "text_2_15"
      },
      {
        "type":"url",
        "id": "text_2_15_url",
        "label": "text_2_15_url"
      },
        {
          "type": "header",
          "content": "item-3"
          
        },
        {
          "type":"inline_richtext",
          "id":"title_3",
          "label": "title_3"
        },
        {
        "type":"image_picker",
        "id": "image_3_1",
        "label": "image_3_1"
      },
      {
        "type":"inline_richtext",
        "id": "text_3_1",
        "label": "text_3_1"
      },
      {
        "type":"url",
        "id": "text_3_1_url",
        "label": "text_3_1_url"
      },
      {
        "type":"image_picker",
        "id": "image_3_2",
        "label": "image_3_2"
      },
      {
        "type":"inline_richtext",
        "id": "text_3_2",
        "label": "text_3_2"
      },
      {
        "type":"url",
        "id": "text_3_2_url",
        "label": "text_3_2_url"
      },
      
      {
        "type":"image_picker",
        "id": "image_3_3",
        "label": "image_3_3"
      },
      {
        "type":"inline_richtext",
        "id": "text_3_3",
        "label": "text_3_3"
      },
      {
        "type":"url",
        "id": "text_3_3_url",
        "label": "text_3_3_url"
      },
      {
        "type":"image_picker",
        "id": "image_3_4",
        "label": "image_3_4"
      },
      {
        "type":"inline_richtext",
        "id": "text_3_4",
        "label": "text_3_4"
      },
      {
        "type":"url",
        "id": "text_3_4_url",
        "label": "text_3_4_url"
      },
      {
        "type":"image_picker",
        "id": "image_3_5",
        "label": "image_3_5"
      },
      {
        "type":"inline_richtext",
        "id": "text_3_5",
        "label": "text_3_5"
      },
      {
        "type":"url",
        "id": "text_3_5_url",
        "label": "text_3_5_url"
      },
      {
        "type":"image_picker",
        "id": "image_3_6",
        "label": "image_3_6"
      },
      
      {
        "type":"inline_richtext",
        "id": "text_3_6",
        "label": "text_3_6"
      },
      {
        "type":"url",
        "id": "text_3_6_url",
        "label": "text_3_6_url"
      },
      {
        "type":"image_picker",
        "id": "image_3_7",
        "label": "image_3_7"
      },
      {
        "type":"inline_richtext",
        "id": "text_3_7",
        "label": "text_3_7"
      },
      {
        "type":"url",
        "id": "text_3_7_url",
        "label": "text_3_7_url"
      },
      {
        "type":"image_picker",
        "id": "image_3_8",
        "label": "image_3_8"
      },
      {
        "type":"inline_richtext",
        "id": "text_3_8",
        "label": "text_3_8"
      },
      {
        "type":"url",
        "id": "text_3_8_url",
        "label": "text_3_8_url"
      },
      {
        "type":"image_picker",
        "id": "image_3_9",
        "label": "image_3_9"
      },
      {
        "type":"inline_richtext",
        "id": "text_3_9",
        "label": "text_3_9"
      },
      {
        "type":"url",
        "id": "text_3_9_url",
        "label": "text_3_9_url"
      },
      {
        "type":"image_picker",
        "id": "image_3_10",
        "label": "image_3_10"
      },
      {
        "type":"inline_richtext",
        "id": "text_3_10",
        "label": "text_3_10"
      },
      {
        "type":"url",
        "id": "text_3_10_url",
        "label": "text_3_10_url"
      },
      {
        "type":"image_picker",
        "id": "image_3_11",
        "label": "image_3_11"
      },
      {
        "type":"inline_richtext",
        "id": "text_3_11",
        "label": "text_3_11"
      },
      {
        "type":"url",
        "id": "text_3_11_url",
        "label": "text_3_11_url"
      },
      {
        "type":"image_picker",
        "id": "image_3_12",
        "label": "image_3_12"
      },
      {
        "type":"inline_richtext",
        "id": "text_3_12",
        "label": "text_3_12"
      },
      {
        "type":"url",
        "id": "text_3_12_url",
        "label": "text_3_12_url"
      },
      {
        "type":"image_picker",
        "id": "image_3_13",
        "label": "image_3_13"
      },
      {
        "type":"inline_richtext",
        "id": "text_3_13",
        "label": "text_3_13"
      },
      {
        "type":"url",
        "id": "text_3_13_url",
        "label": "text_3_13_url"
      },
      {
        "type":"image_picker",
        "id": "image_3_14",
        "label": "image_3_14"
      },
      {
        "type":"inline_richtext",
        "id": "text_3_14",
        "label": "text_3_14"
      },
      {
        "type":"url",
        "id": "text_3_14_url",
        "label": "text_3_14_url"
      },
      {
        "type":"image_picker",
        "id": "image_3_15",
        "label": "image_3_15"
      },
      {
        "type":"inline_richtext",
        "id": "text_3_15",
        "label": "text_3_15"
      },
      {
        "type":"url",
        "id": "text_3_15_url",
        "label": "text_3_15_url"
      },
        {
          "type": "header",
          "content": "item-4"
          
        },
        {
          "type":"inline_richtext",
          "id":"title_4",
          "label": "title_4"
        },
        
      {
        "type":"image_picker",
        "id": "image_4_1",
        "label": "image_4_1"
      },
      {
        "type":"inline_richtext",
        "id": "text_4_1",
        "label": "text_4_1"
      },
      {
        "type":"url",
        "id": "text_4_1_url",
        "label": "text_4_1_url"
      },
      {
        "type":"image_picker",
        "id": "image_4_2",
        "label": "image_4_2"
      },
      {
        "type":"inline_richtext",
        "id": "text_4_2",
        "label": "text_4_2"
      },
      {
        "type":"url",
        "id": "text_4_2_url",
        "label": "text_4_2_url"
      },
      
      {
        "type":"image_picker",
        "id": "image_4_3",
        "label": "image_4_3"
      },
      {
        "type":"inline_richtext",
        "id": "text_4_3",
        "label": "text_4_3"
      },
      {
        "type":"url",
        "id": "text_4_3_url",
        "label": "text_4_3_url"
      },
      {
        "type":"image_picker",
        "id": "image_4_4",
        "label": "image_4_4"
      },
      {
        "type":"inline_richtext",
        "id": "text_4_4",
        "label": "text_4_4"
      },
      {
        "type":"url",
        "id": "text_4_4_url",
        "label": "text_4_4_url"
      },
      {
        "type":"image_picker",
        "id": "image_4_5",
        "label": "image_4_5"
      },
      {
        "type":"inline_richtext",
        "id": "text_4_5",
        "label": "text_4_5"
      },
      {
        "type":"url",
        "id": "text_4_5_url",
        "label": "text_4_5_url"
      },
      {
        "type":"image_picker",
        "id": "image_4_6",
        "label": "image_4_6"
      },
      
      {
        "type":"inline_richtext",
        "id": "text_4_6",
        "label": "text_4_6"
      },
      {
        "type":"url",
        "id": "text_4_6_url",
        "label": "text_4_6_url"
      },
      {
        "type":"image_picker",
        "id": "image_4_7",
        "label": "image_4_7"
      },
      {
        "type":"inline_richtext",
        "id": "text_4_7",
        "label": "text_4_7"
      },
      {
        "type":"url",
        "id": "text_4_7_url",
        "label": "text_4_7_url"
      },
      {
        "type":"image_picker",
        "id": "image_4_8",
        "label": "image_4_8"
      },
      {
        "type":"inline_richtext",
        "id": "text_4_8",
        "label": "text_4_8"
      },
      {
        "type":"url",
        "id": "text_4_8_url",
        "label": "text_4_8_url"
      },
      {
        "type":"image_picker",
        "id": "image_4_9",
        "label": "image_4_9"
      },
      {
        "type":"inline_richtext",
        "id": "text_4_9",
        "label": "text_4_9"
      },
      {
        "type":"url",
        "id": "text_4_9_url",
        "label": "text_4_9_url"
      },
      {
        "type":"image_picker",
        "id": "image_4_10",
        "label": "image_4_10"
      },
      {
        "type":"inline_richtext",
        "id": "text_4_10",
        "label": "text_4_10"
      },
      {
        "type":"url",
        "id": "text_4_10_url",
        "label": "text_4_10_url"
      },
      {
        "type":"image_picker",
        "id": "image_4_11",
        "label": "image_4_11"
      },
      {
        "type":"inline_richtext",
        "id": "text_4_11",
        "label": "text_4_11"
      },
      {
        "type":"url",
        "id": "text_4_11_url",
        "label": "text_4_11_url"
      },
      {
        "type":"image_picker",
        "id": "image_4_12",
        "label": "image_4_12"
      },
      {
        "type":"inline_richtext",
        "id": "text_4_12",
        "label": "text_4_12"
      },
      {
        "type":"url",
        "id": "text_4_12_url",
        "label": "text_4_12_url"
      },
      {
        "type":"image_picker",
        "id": "image_4_13",
        "label": "image_4_13"
      },
      {
        "type":"inline_richtext",
        "id": "text_4_13",
        "label": "text_4_13"
      },
      {
        "type":"url",
        "id": "text_4_13_url",
        "label": "text_4_13_url"
      },
      {
        "type":"image_picker",
        "id": "image_4_14",
        "label": "image_4_14"
      },
      {
        "type":"inline_richtext",
        "id": "text_4_14",
        "label": "text_4_14"
      },
      {
        "type":"url",
        "id": "text_4_14_url",
        "label": "text_4_14_url"
      },
      {
        "type":"image_picker",
        "id": "image_4_15",
        "label": "image_4_15"
      },
      {
        "type":"inline_richtext",
        "id": "text_4_15",
        "label": "text_4_15"
      },
      {
        "type":"url",
        "id": "text_4_15_url",
        "label": "text_4_15_url"
      },
        {
          "type": "header",
          "content": "item-5"
          
        },
        {
          "type":"inline_richtext",
          "id":"title_5",
          "label": "title_5"
        },
        
      {
        "type":"image_picker",
        "id": "image_5_1",
        "label": "image_5_1"
      },
      {
        "type":"inline_richtext",
        "id": "text_5_1",
        "label": "text_5_1"
      },
      {
        "type":"url",
        "id": "text_5_1_url",
        "label": "text_5_1_url"
      },
      {
        "type":"image_picker",
        "id": "image_5_2",
        "label": "image_5_2"
      },
      {
        "type":"inline_richtext",
        "id": "text_5_2",
        "label": "text_5_2"
      },
      {
        "type":"url",
        "id": "text_5_2_url",
        "label": "text_5_2_url"
      },
      
      {
        "type":"image_picker",
        "id": "image_5_3",
        "label": "image_5_3"
      },
      {
        "type":"inline_richtext",
        "id": "text_5_3",
        "label": "text_5_3"
      },
      {
        "type":"url",
        "id": "text_5_3_url",
        "label": "text_5_3_url"
      },
      {
        "type":"image_picker",
        "id": "image_5_4",
        "label": "image_5_4"
      },
      {
        "type":"inline_richtext",
        "id": "text_5_4",
        "label": "text_5_4"
      },
      {
        "type":"url",
        "id": "text_5_4_url",
        "label": "text_5_4_url"
      },
      {
        "type":"image_picker",
        "id": "image_5_5",
        "label": "image_5_5"
      },
      {
        "type":"inline_richtext",
        "id": "text_5_5",
        "label": "text_5_5"
      },
      {
        "type":"url",
        "id": "text_5_5_url",
        "label": "text_5_5_url"
      },
      {
        "type":"image_picker",
        "id": "image_5_6",
        "label": "image_5_6"
      },
      
      {
        "type":"inline_richtext",
        "id": "text_5_6",
        "label": "text_5_6"
      },
      {
        "type":"url",
        "id": "text_5_6_url",
        "label": "text_5_6_url"
      },
      {
        "type":"image_picker",
        "id": "image_5_7",
        "label": "image_5_7"
      },
      {
        "type":"inline_richtext",
        "id": "text_5_7",
        "label": "text_5_7"
      },
      {
        "type":"url",
        "id": "text_5_7_url",
        "label": "text_5_7_url"
      },
      {
        "type":"image_picker",
        "id": "image_5_8",
        "label": "image_5_8"
      },
      {
        "type":"inline_richtext",
        "id": "text_5_8",
        "label": "text_5_8"
      },
      {
        "type":"url",
        "id": "text_5_8_url",
        "label": "text_5_8_url"
      },
      {
        "type":"image_picker",
        "id": "image_5_9",
        "label": "image_5_9"
      },
      {
        "type":"inline_richtext",
        "id": "text_5_9",
        "label": "text_5_9"
      },
      {
        "type":"url",
        "id": "text_5_9_url",
        "label": "text_5_9_url"
      },
      {
        "type":"image_picker",
        "id": "image_5_10",
        "label": "image_5_10"
      },
      {
        "type":"inline_richtext",
        "id": "text_5_10",
        "label": "text_5_10"
      },
      {
        "type":"url",
        "id": "text_5_10_url",
        "label": "text_5_10_url"
      },
      {
        "type":"image_picker",
        "id": "image_5_11",
        "label": "image_5_11"
      },
      {
        "type":"inline_richtext",
        "id": "text_5_11",
        "label": "text_5_11"
      },
      {
        "type":"url",
        "id": "text_5_11_url",
        "label": "text_5_11_url"
      },
      {
        "type":"image_picker",
        "id": "image_5_12",
        "label": "image_5_12"
      },
      {
        "type":"inline_richtext",
        "id": "text_5_12",
        "label": "text_5_12"
      },
      {
        "type":"url",
        "id": "text_5_12_url",
        "label": "text_5_12_url"
      },
      {
        "type":"image_picker",
        "id": "image_5_13",
        "label": "image_5_13"
      },
      {
        "type":"inline_richtext",
        "id": "text_5_13",
        "label": "text_5_13"
      },
      {
        "type":"url",
        "id": "text_5_13_url",
        "label": "text_5_13_url"
      },
      {
        "type":"image_picker",
        "id": "image_5_14",
        "label": "image_5_14"
      },
      {
        "type":"inline_richtext",
        "id": "text_5_14",
        "label": "text_5_14"
      },
      {
        "type":"url",
        "id": "text_5_14_url",
        "label": "text_5_14_url"
      },
      {
        "type":"image_picker",
        "id": "image_5_15",
        "label": "image_5_15"
      },
      {
        "type":"inline_richtext",
        "id": "text_5_15",
        "label": "text_5_15"
      },
      {
        "type":"url",
        "id": "text_5_15_url",
        "label": "text_5_15_url"
      },
      ]
    }
  ]
}
{% endschema %}
