{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

#shopify-section-{{ section.id }}{
  overflow:hidden;
}
  
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  
#shopify-section-{{section.id}} .icon-box:hover img{
  transform: scale(1.05);
}

#shopify-section-{{section.id}} .icon-box img{
  transition: all linear 0.3s;
}  

  
@media(min-width:750px){
  #shopify-section-{{section.id}} .icon-bar{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  #shopify-section-{{section.id}} .icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration:none;
  }  
  #shopify-section-{{section.id}} .icon-box img{
    height:66px;
    width:auto;
  } 
  #shopify-section-{{section.id}} .icon-box h6{
    margin: 10px auto 0;
    font-weight: 400;
    color: #181818;
    max-width: 100px;
    text-align: center;
    font-size:14px;
  }
  #shopify-section-{{section.id}} .heading{
    font-family: 'Lato';
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    margin-bottom:55px;
  }
}
@media(max-width:749px){
  .section-{{ section.id }}-padding{
    padding-left: 2rem;
  }
  .section-{{ section.id }}-padding .icon-bar{
    overflow-x: auto;
  }  
  #shopify-section-{{section.id}} .icon-bar{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap:45px;
  }
  #shopify-section-{{section.id}} .icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration:none;
  }  
  #shopify-section-{{section.id}} .icon-box img{
    height:43px;
    width:auto;
  } 
  #shopify-section-{{section.id}} .icon-box h6{
    margin: 10px auto 0;
    font-weight: 400;
    color: #181818;
    text-align: center;
    line-height: 1.2;
    font-size:12px;
  }
  #shopify-section-{{section.id}} .heading{
    font-family: 'Lato';
    font-size: 26px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-bottom:32px;
  }  
}  
{%- endstyle -%}

<div class="icon-bar-div color-{{ section.settings.color_scheme }}">
  <div class="page-width section-{{ section.id }}-padding">
    <h2 class="heading">{{ section.settings.heading }}</h2>
    <div class="icon-bar">
      {% for block in section.blocks %}
        <a class="icon-box" href="{{ block.settings.link }}">
          {% comment %} <img src="{{ block.settings.image | img_url:'' }}" class="" width="" height="" alt="{{ block.settings.image.alt }}"> {% endcomment %}
          {% assign full_width = '100vw' %}
          {% assign sizes = full_width %}
          {% assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840' %}
          {{
            block.settings.image
            | image_url: width: block.settings.image.width
            | image_tag:
              width: block.settings.image.width,
              height: block.settings.image.height,
              class: 'icon',
              sizes: sizes,
              widths: widths,
              alt: block.settings.image.alt | escape
          }}
          <h6>{{ block.settings.text }}</h6>
        </a>
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "icon bar",
    "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "heading"
    },      
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },      
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }      
    ],
  "blocks": [
    {
      "type": "icon",
      "name": "icon",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "image"
        },        
        {
          "type": "text",
          "id": "text",
          "label": "text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "icon bar"
    }
  ]    
  }
{% endschema %}