<style>
  #shopify-section-{{section.id}}.home-logo svg{
    display: block;
    width: 100%;
  }
  #shopify-section-{{section.id}}.home-logo .splide__slide{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 749px) {

  }
</style>
<div class="grid-wrapper section-pt">
  <div class="grid-splide splide">
    <div class="splide__track">
      <ul class="splide__list">
        {% for block in section.blocks %}
            <div class="splide__slide">
              {{ block.settings.icon_svg }}
            </div>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const gridSplide_{{section.index}} = new Splide('#shopify-section-{{section.id}} .grid-splide', {
      type: 'loop',
      drag: true,          
      arrows: false,        
      pagination: false,    
      gap: 30,
      perPage: 7,
      autoScroll: {
        speed: 0.7,          
        pauseOnHover: true,
      },
      breakpoints: {
        749: {
          gap: 12,
          perPage: 3,
        }
      }
    });
    gridSplide_{{section.index}}.mount(window.splide.Extensions);
  });
</script>


{% schema %}
{
  "name": "Home logo",
  "tag": "section",
  "class": "home-logo",
  "limit": 1,
  "settings": [
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "html",
          "id": "icon_svg",
          "label": "icon svg"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home logo"
    }
  ]
}
{% endschema %}
