<style>
  #shopify-section-{{section.id}} .social-wrapper{
  }
  #shopify-section-{{section.id}} .social .view-more{
    margin: 50px auto 0;
    display: flex;
    width: 190px;
    height: 42px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1px solid #121212;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
  }
  #shopify-section-{{section.id}} .social .view-more:hover{
    background-color: #121212;
    color: #fff;
  }
  #shopify-section-{{section.id}} .user-wrapper{
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  #shopify-section-{{section.id}} .user-wrapper img{
    width: 32px;
  }
  #shopify-section-{{section.id}} .user-wrapper .user-name{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }
  @media screen and (max-width: 1200px) {
    #shopify-section-{{section.id}} .social .view-more{
      margin: 30px auto 0;
      width: 130px;
      height: 28px;
      font-size: 14px;
      line-height: 22px;
    }
  }
  @media screen and (max-width: 749px) {
    #shopify-section-{{section.id}} .guarantee .view-more{
      width: 190px;
    }
  }
</style>

<div class="social page-width section-pt section-pb">
  <h2 class="section-title">{{section.settings.title}}</h2>
  <div class="social-wrapper swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
            {% render 'responsive-image',
              sid: section.id,
              image_desktop: block.settings.pc_image,
              image_mobile: block.settings.pc_image,
              alt: section.settings.title,
              lazy: true,
              preload: false
            %}
            <div class="user-wrapper">
              <img src="{{ block.settings.user_img | img_url: '32x' }}" alt="{{block.settings.user_name}}" width="32" height="32" loading="lazy">
              <span class="user-name">{{block.settings.user_name}}</span>
            </div>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-button-prev">
      {% render 'banner-prev' %}
    </div>
    <div class="swiper-button-next">
      {% render 'banner-next' %}
    </div>
  </div>
  <a class="view-more" href="{{ section.settings.btn_url }}" target="_blank">{{ section.settings.btn_name }}</a>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const guarantee_swiper = new Swiper('.social .swiper', {
      slidesPerView: 1.2,
      spaceBetween: 10,
      loop: true,
      navigation: {
        nextEl: '.social .swiper-button-next',
        prevEl: '.social .swiper-button-prev',
      },
      breakpoints: { 
        750: {  //当屏幕宽度大于等于768 
          slidesPerView: 2,
          spaceBetween: 15
        },
        1200: {  //当屏幕宽度大于等于1280
          slidesPerView: 4,
          spaceBetween: 20
        }
      },
      pagination: {
        el: '.guarantee .swiper-pagination',
        type : 'progressbar',
      },
    })
  })
</script>

{% schema %}
{
  "name": "Home social",
  "tag": "section",
  "class": "home-social",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "As Seen On@neoshine_jewelry"
    },
    {
      "type": "text",
      "id": "btn_name",
      "label": "button name",
      "default": "VIEW MORE"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "button url"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "pc_image",
          "label": "image"
        },
        {
          "type": "image_picker",
          "id": "user_img",
          "label": "user image"
        },
        {
          "type": "text",
          "id": "user_name",
          "label": "user name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home social"
    }
  ]
}
{% endschema %}
