<style>
  #shopify-section-{{section.id}} .guarantee .img-wrapper{
    position: relative;
  }
  #shopify-section-{{section.id}} .guarantee .banner-wrapper{
    padding: 40px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    height: fit-content;
  }
  #shopify-section-{{section.id}} .guarantee .icon-box{
    display: flex;
    gap: 9px;
    width: 50%;
  }
  #shopify-section-{{section.id}} .guarantee .icon-box p{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px; 
    margin-bottom: 0;
  }
  #shopify-section-{{section.id}} .guarantee .icon-item{
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  #shopify-section-{{section.id}} .guarantee .icon-box svg{
    display: block;
    margin: auto;
    width: 60px;
    height: 68px;
  }
  #shopify-section-{{section.id}} .guarantee .banner-title{
    font-size: 32px;
    line-height: 48px;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 500;
  }
  #shopify-section-{{section.id}} .guarantee .view-more{
    margin: 50px 0 0 50px;
    display: flex;
    width: 190px;
    height: 42px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1px solid #121212;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
  }
  #shopify-section-{{section.id}} .guarantee .view-more:hover{
    background-color: #121212;
    color: #fff;
  }
  #shopify-section-{{section.id}} .guarantee .banner-title.pc-hidden{
    display: none;
  }
  #shopify-section-{{section.id}} .guarantee .swiper-pagination-progressbar{
    width: 170px;
    height: 2px;
    margin: 30px auto 0;
    position: static;
    display: none;
  }
  #shopify-section-{{section.id}} .guarantee .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: #121212;
  }
  #shopify-section-{{section.id}} .guarantee .custom-b{
    position: absolute;
    bottom: 80px;
    z-index: 3;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 400;
    line-height: 1.2;
  }
  #shopify-section-{{section.id}} .guarantee .button-prev{
    position: absolute;
    left: 20px;
  }
  #shopify-section-{{section.id}} .guarantee .button-next{
    position: absolute;
    right: 20px;
  }
  @media screen and (max-width: 1200px) {
    #shopify-section-{{section.id}} .guarantee .banner-title{
      font-size: 30px;
      line-height: 42px;
    }
    #shopify-section-{{section.id}} .guarantee .view-more{
      margin: 30px 0 0;
      display: flex;
      width: 130px;
      height: 28px;
      font-size: 14px;
      line-height: 22px;
    }
    #shopify-section-{{section.id}} .guarantee .icon-box{
      display: flex;
      gap: 10px;
    }
    #shopify-section-{{section.id}} .guarantee .icon-box p{
      color: #fff;
      font-size: 12px;
      line-height: 16px; 
      margin-top: 10px;
    }
    #shopify-section-{{section.id}} .guarantee .icon-item{
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    #shopify-section-{{section.id}} .guarantee .icon-box svg{
      width: 32px;
      height: 36px;
    }
  }
  @media screen and (min-width: 750px) {
    #shopify-section-{{section.id}} .guarantee .banner-wrapper{
      opacity: 0;
      transition: all .3s ease-in-out;
    }
    #shopify-section-{{section.id}} .guarantee .item.active .banner-wrapper{
      opacity: 1;
      transition: all .3s ease-in-out;
    }
  }
  @media screen and (max-width: 749px) {
    #shopify-section-{{section.id}} .guarantee .banner-title{
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 16px;
      display: none;
    }
    #shopify-section-{{section.id}} .guarantee .banner-title.pc-hidden{
      display: block;
      position: absolute;
      padding: 0px;
      bottom: 0;
      left: 0;
      right: 0;
      top: unset;
      text-align: center;
      width: 100%;
    }
    #shopify-section-{{section.id}} .guarantee .banner-wrapper{
      position: static;
      padding: 28px;
      background-color: #F6F6F6;
    }
    #shopify-section-{{section.id}} .guarantee .icon-box{
      flex-wrap: wrap;
      gap: 5px;
      width: 100%;
    }
    #shopify-section-{{section.id}} .guarantee .icon-box p{
      color: #121212!important;
      font-size: 8px;
      line-height: 10px; 
      margin-top: 0px;
    }
    #shopify-section-{{section.id}} .guarantee .icon-item{
      display: flex;
      /* flex-direction: row; */
      gap: 10px;
      width: calc((100% - 44px) / 4);
      /* justify-content: center; */
      align-items: center;
    }
    #shopify-section-{{section.id}} .guarantee .icon-box svg path{
      stroke: #121212!important;
    }
    #shopify-section-{{section.id}} .guarantee .view-more{
      margin: 0 auto;
      display: flex;
      width: 190px;
    }
    #shopify-section-{{section.id}} .guarantee .swiper-button-next,
    #shopify-section-{{section.id}} .guarantee .swiper-button-prev{
      top: 38%;
    }
    #shopify-section-{{section.id}} .guarantee .swiper-pagination-progressbar{
      display: block;
    }
  }
</style>

<div class="guarantee section-pt page-width">
  <div class="swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide item {% if forloop.first %}first active{% else %}second{% endif %}">
          <div class="img-wrapper">
            <a style="position: relative;display:block;" href="{{ block.settings.url }}">
              {% render 'responsive-image',
                sid: section.id,
                image_desktop: block.settings.pc_image,
                image_mobile: block.settings.mobile_image,
                alt: block.settings.title,
                lazy: true,
                preload: false
              %}
            <h2 class="banner-title pc-hidden" {% if forloop.first %}style="color:#121212;"{% else %}style="color:#fff;"{% endif %}>{{ block.settings.title }}</h2>
            </a>
            
            <div class="banner-wrapper">
              <h2 class="banner-title" style="color:{{block.settings.color}};">{{ block.settings.title }}</h2>
              <div class="icon-box">
                {% if block.settings.icon_svg1 != blank %}
                  <a class="icon-item" href="{{block.settings.icon_url1}}">
                    <span>{{ block.settings.icon_svg1 }}</span>
                    <p style="color:{{block.settings.color}};">{{block.settings.icon_name1}}</p>
                  </a>
                {% endif %}
                {% if block.settings.icon_svg2 != blank %}
                  <a class="icon-item" href="{{block.settings.icon_url2}}">
                    <span>{{ block.settings.icon_svg2 }}</span>
                    <p style="color:{{block.settings.color}};">{{block.settings.icon_name2}}</p>
                  </a>
                {% endif %}
                {% if block.settings.icon_svg3 != blank %}
                  <a class="icon-item" href="{{block.settings.icon_url3}}">
                    <span>{{ block.settings.icon_svg3 }}</span>
                    <p style="color:{{block.settings.color}};">{{block.settings.icon_name3}}</p>
                  </a>
                {% endif %}
                {% if block.settings.icon_svg4 != blank %}
                  <a class="icon-item" href="{{block.settings.icon_url4}}">
                    <span>{{ block.settings.icon_svg4 }}</span>
                    <p style="color:{{block.settings.color}};">{{block.settings.icon_name4}}</p>
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="button-prev custom-b">
      <span>Lab-Grown<br>Diamonds</span>
      <span>{% render 'gur-prev' %}</span>
    </div>
    <div class="button-next custom-b">
      <span style="color: #fff;">Shop with<br>Confidence</span>
      <span>{% render 'gur-next' %}</span>
    </div>
  </div>
  
  <div class="swiper-pagination"></div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const guarantee_swiper = new Swiper('.guarantee .swiper', {
      slidesPerView: 1,
      spaceBetween: 0,
      loop: false,
      breakpoints: { 
        750: {  //当屏幕宽度大于等于768 
          slidesPerView: 1.2,
          spaceBetween: 15,
          allowTouchMove: false,
        },
        1200: {  //当屏幕宽度大于等于1280
          slidesPerView: 1.2,
          spaceBetween: 24,
          allowTouchMove: false,
        }
      },
      pagination: {
        el: '.guarantee .swiper-pagination',
        type : 'progressbar',
      },
    })
    $('.guarantee .button-prev').click(function () {
      guarantee_swiper.slidePrev();
      $('.guarantee .item.first').addClass('active');
      $('.guarantee .item.second').removeClass('active');
    })
    $('.guarantee .button-next').click(function () {
      guarantee_swiper.slideNext();
      $('.guarantee .item.first').removeClass('active');
      $('.guarantee .item.second').addClass('active');
    })
  })
</script>

{% schema %}
{
  "name": "Home guarantee",
  "tag": "section",
  "class": "home-guarantee",
  "limit": 1,
  "max_blocks": 2,
  "settings": [
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "pc_image",
          "label": "pc image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "mobile image"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "title"
        },
        {
          "type": "url",
          "id": "url",
          "label": "url"
        },
        {
          "type": "text",
          "id": "btn_name",
          "label": "button name"
        },
        {
          "type": "color",
          "id": "color",
          "label": "color",
          "default": "#000000"
        },
        {
          "type": "header",
          "content": "----------for icon----------"
        },
        {
          "type": "textarea",
          "id": "icon_name1",
          "label": "icon name 1"
        },
        {
          "type": "html",
          "id": "icon_svg1",
          "label": "icon svg 1"
        },
        {
          "type": "url",
          "id": "icon_url1",
          "label": "icon url 1"
        },
        {
          "type": "header",
          "content": "----------for icon----------"
        },
        {
          "type": "textarea",
          "id": "icon_name2",
          "label": "icon name 2"
        },
        {
          "type": "html",
          "id": "icon_svg2",
          "label": "icon svg 2"
        },
        {
          "type": "url",
          "id": "icon_url2",
          "label": "icon url 2"
        },
        {
          "type": "header",
          "content": "----------for icon----------"
        },
        {
          "type": "textarea",
          "id": "icon_name3",
          "label": "icon name 3"
        },
        {
          "type": "html",
          "id": "icon_svg3",
          "label": "icon svg 3"
        },
        {
          "type": "url",
          "id": "icon_url3",
          "label": "icon url 3"
        },
        {
          "type": "header",
          "content": "----------for icon----------"
        },
        {
          "type": "textarea",
          "id": "icon_name4",
          "label": "icon name 4"
        },
        {
          "type": "html",
          "id": "icon_svg4",
          "label": "icon svg 4"
        },
        {
          "type": "url",
          "id": "icon_url4",
          "label": "icon url 4"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home guarantee"
    }
  ]
}
{% endschema %}
