<style>
  #shopify-section-{{ section.id }} .index-grid span#parcelator{
    display: none!important;
  }
  #shopify-section-{{ section.id }} .index-grid .img-wrapper{
    height: 100%;
  }
  #shopify-section-{{ section.id }} .index-grid img{
    object-fit: cover;
    height: 100%;
    transition: all 0.3s ease-in-out;
  }
  #shopify-section-{{ section.id }} .index-grid .item:hover img{
    transform: scale(1.08);
    transition: all 0.3s ease-in-out;
  }
  #shopify-section-{{ section.id }} .index-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
  }
  #shopify-section-{{ section.id }} .index-grid .item {
    position: relative;
    overflow: hidden;
  }
  #shopify-section-{{ section.id }} .index-grid .item-1 {
    grid-column: span 4 / span 4;
  }
  #shopify-section-{{ section.id }} .index-grid .item-1 .content-wrapper {
    right: unset;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  #shopify-section-{{ section.id }} .index-grid .item-2 {
    grid-row-start: 2;
  }
  #shopify-section-{{ section.id }} .index-grid .item-3 {
    grid-row-start: 2;
  }
  #shopify-section-{{ section.id }} .index-grid .item-4 {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
  }
  #shopify-section-{{ section.id }} .index-grid .item-4 .content-wrapper {
    display: none;
  }
  #shopify-section-{{ section.id }} .index-grid .content-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  #shopify-section-{{ section.id }} .index-grid .price-box{
    margin-bottom: 32px;
  }
  #shopify-section-{{ section.id }} .index-grid .price-box .price-del{
    color: #787878;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.36px;
    text-decoration-line: strikethrough;
  }
  #shopify-section-{{ section.id }} .index-grid .price-box .price{
    color: #121212;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.72px;
  }
  #shopify-section-{{ section.id }} .index-grid .content-wrapper .item-title{
    color: #121212;
    font-size: 36px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.48px;
    margin: 0 0 20px;
  }
  #shopify-section-{{ section.id }} .index-grid .content-wrapper .item-content{
    font-size: 20px;
    color: #121212;
    font-weight: 500;
    line-height: 26px;   
    margin: 0;
  }
  @media screen and (max-width: 1024px) {}
  @media screen and (max-width: 749px) {
    #shopify-section-{{ section.id }} .index-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 10px;
    }
    #shopify-section-{{ section.id }} .index-grid .item-1 {
      grid-column: span 2 / span 2;
      grid-row: span 2 / span 2;
    }
    #shopify-section-{{ section.id }} .index-grid .item-2 {
      grid-column-start: 1;
      grid-row-start: 4;
    }
    #shopify-section-{{ section.id }} .index-grid .item-3 {
      grid-column-start: 2;
      grid-row-start: 4;
    }
    #shopify-section-{{ section.id }} .index-grid .item-4 {
      grid-column: span 2 / span 2;
      grid-column-start: 1;
      grid-row-start: 3;
    }
  }
</style>

{% assign full_width = '100vw' %}
{% assign sizes = full_width %}
{% assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840' %}

<div class="index-grid page-width section-pt">
  {% for block in section.blocks %}
    <a
      class="item item-{{ forloop.index }}"
      {% if block.settings.product != blank %}
      href="{{ block.settings.product.url }}"
      {% endif %}>
      <div class="img-wrapper">
        {{ block.settings.pc_image
          | image_url: width: 3840
          | image_tag:
          width: block.settings.pc_image.width,
          height: '',
          class: 'pc',
          sizes: sizes,
          widths: widths,
          loading: 'lazy'
        }}
        {{ block.settings.mobile_image
          | image_url: width: 3840
          | image_tag:
          width: block.settings.mobile_image.width,
          height: '',
          class: 'mb',
          sizes: sizes,
          widths: widths,
          loading: 'lazy'
        }}

      </div>
      <div class="content-wrapper">
        <div class="text-box">
          <h2 class="item-title">{{ block.settings.title }}</h2>
          <p class="item-content">{{ block.settings.content }}</p>
        </div>
        {% if block.settings.product != blank %}
          <div class="price-box">
            <span class="price-del">{{ block.settings.product.compare_at_price | money }}</span>
            <span class="price">{{ block.settings.product.price | money }}</span>
          </div>
        {% endif %}
      </div>
    </a>
  {% endfor %}

</div>

{% schema %}
  {
    "name": "Home grid",
    "tag": "section",
    "class": "home-grid",
    "limit": 1,
    "max_blocks": 4,
    "settings": [],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "pc_image",
            "label": "pc_image"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "mobile_image"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "title"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "content"
          }, {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Home grid"
      }
    ]
  }
{% endschema %}