{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
   #shopify-section-{{section.id}}  .cart__footer{
    border:1px solid #83A78D;
     padding:40px;
  }
  #shopify-section-{{section.id}} .det{
    
  }
  #shopify-section-{{section.id}} .det .title{
    margin:0;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;

  }
   #shopify-section-{{section.id}} .det .list{
     width:100%;
     margin-top:15px;
   }
  #shopify-section-{{section.id}} .det .list .item{
    display:flex;
    justify-content: space-between;
    align-items: end;
    margin:5px 0;
  }
  #shopify-section-{{section.id}} .det .list .item p{
    margin:0;
    font-size:14px;
    color:#636465;
     font-weight: 400;
  }
   #shopify-section-{{section.id}} .det .list .item p.totals_price{
    
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

   }
  #shopify-section-{{section.id}} .det .list .item p span{
    font-size;16px;
    color:#181818;
  }
  #shopify-section-{{section.id}} .apply_dis{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    display:flex;
    align-items: center;
    padding:20px 0;
    margin:15px 0;
  }
  #shopify-section-{{section.id}} .apply_dis span{
   
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left:15px;

  }
  #shopify-section-{{section.id}} .totals{
    dispaly:flex;
    justify-content: space-between;

  }
  #shopify-section-{{section.id}} .totals .totals__total{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
  #shopify-section-{{section.id}} .totals .totals__total-value{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
  #shopify-section-{{section.id}} .tax-note{
    display:none;
  }
   #shopify-section-{{section.id}} ul.lists{
      list-style: none;
       padding:0;
   }
  #shopify-section-{{section.id}} ul.lists>span{
   
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;
    margin:10px 0;
    display: inline-block;
    color:#636465;
  }
  #shopify-section-{{section.id}} ul.lists li.itens{
    
font-size: 14px;
font-weight: 600;
line-height: 25px;
display:flex;
    align-items:center;
    color:#181818;
    

  }
  #shopify-section-{{section.id}} ul.lists li.itens .icon{
    margin-right:5px;
  }
  #shopify-section-{{section.id}} .Need_help{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top:20px;
    border-bottom:2px solid #83A78D;
  }
  #shopify-section-{{section.id}} .Need_help p{
    color:#181818;
    font-size:16px;
    font-weight: 600;
  }
   #shopify-section-{{section.id}} .Need_help .list{
     display:flex;
      align-items: center;
   }
  #shopify-section-{{section.id}} .Need_help .list .item{
    display:flex;
      align-items: center;
    font-size:14px;
    margin-left:15px;
  }
   #shopify-section-{{section.id}} .We_Accept p{
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;
color:#636465;
     margin:25px 0 5px;
   }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      margin-top:40px;
    }
  }
  @media screen and (max-width: 750px) {
    #shopify-section-{{section.id}} .det .list .item p{
          font-size:12px;
        }
  }
{%- endstyle -%}

<div
  class="gradient color-{{ section.settings.color_scheme }}{% if cart == empty %} is-empty{% endif %}"
  id="main-cart-footer"
  data-id="{{ section.id }}"
>
  <div class="page-width">
    <div class="cart__footer isolate section-{{ section.id }}-padding">
      {%- if settings.show_cart_note -%}
        <cart-note class="cart__note field">
          <label for="Cart-note">{{ 'sections.cart.note' | t }}</label>
          <textarea
            class="text-area field__input"
            name="note"
            form="cart"
            id="Cart-note"
            placeholder="{{ 'sections.cart.note' | t }}"
          >{{ cart.note }}</textarea>
        </cart-note>
      {%- endif -%}

      <div class="cart__blocks">
        <div class="det">
            <div class="title">
              Lucie Solitaire Engagement Ring
            </div>
          <div class="list">
              <div class="item">
                <p>
                  <span>Subtotal</span>
                  excl. sales taxes
                </p>
                <p class="totals_price">{{ cart.total_price | money_with_currency }}</p>
              </div>
            <div class="item">
                <p>
                  Standard Delivery
                </p>
                <p>Calculated at checkout</p>
              </div>
            <div class="item">
                <p>
                  Sales Tax
                </p>
                <p>Calculated at checkout</p>
              </div>
          </div>
          
          
        </div>
        <div class="apply_dis">
          {% render "icon-apply" %} <span>Apply a Discount Code</span>
        </div>
        {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'subtotal' -%}
              <div class="js-contents" {{ block.shopify_attributes }}>
                <div>
                  {%- if cart.cart_level_discount_applications.size > 0 -%}
                    <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount in cart.cart_level_discount_applications -%}
                        <li class="discounts__discount discounts__discount--position">
                          {{- 'icon-discount.svg' | inline_asset_content -}}
                          {{ discount.title | escape }}
                          (-{{ discount.total_allocated_amount | money }})
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>

                <div class="totals">
                  <h2 class="totals__total">{{ 'sections.cart.estimated_total' | t }}</h2>
                  <p class="totals__total-value">{{ cart.total_price | money_with_currency }}</p>
                </div>

                <small class="tax-note caption-large rte">
                  {%- if cart.duties_included and cart.taxes_included -%}
                    {%- if shop.shipping_policy.body == blank -%}
                      {{ 'sections.cart.duties_and_taxes_included_shipping_at_checkout_without_policy' | t }}
                    {%- else -%}
                      {{
                        'sections.cart.duties_and_taxes_included_shipping_at_checkout_with_policy_html'
                        | t: link: shop.shipping_policy.url
                      }}
                    {%- endif -%}
                  {%- elsif cart.duties_included == false and cart.taxes_included -%}
                    {%- if shop.shipping_policy.body == blank -%}
                      {{ 'sections.cart.taxes_included_shipping_at_checkout_without_policy' | t }}
                    {%- else -%}
                      {{
                        'sections.cart.taxes_included_shipping_at_checkout_with_policy_html'
                        | t: link: shop.shipping_policy.url
                      }}
                    {%- endif -%}
                  {%- elsif cart.duties_included and cart.taxes_included == false -%}
                    {%- if shop.shipping_policy.body == blank -%}
                      {{ 'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
                    {%- else -%}
                      {{
                        'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_with_policy_html'
                        | t: link: shop.shipping_policy.url
                      }}
                    {%- endif -%}
                  {%- elsif cart.duties_included == false and cart.taxes_included == false -%}
                    {%- if shop.shipping_policy.body == blank -%}
                      {{ 'sections.cart.taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
                    {%- else -%}
                      {{
                        'sections.cart.taxes_at_checkout_shipping_at_checkout_with_policy_html'
                        | t: link: shop.shipping_policy.url
                      }}
                    {%- endif -%}
                  {%- endif -%}
                </small>
              </div>
            {%- else -%}
            <ul class="lists">
              <span>Includes Neoshine Guarantee</span>
              <li class="itens">
                {% render 'icon-yes' %} <span>Free Overnight Shipping & Free Return</span>
              </li>
              <li class="itens">
                {% render 'icon-yes' %} <span>30 Day Money Back Guarantee</span>
              </li>
              <li class="itens">
                {% render 'icon-yes' %} <span>60 Day Unlimited Resizing</span>
              </li>
              <li class="itens">
                {% render 'icon-yes' %} <span>Lifetimes Upgrades</span>
              </li>
            </ul>
              <div class="cart__ctas" {{ block.shopify_attributes }}>
                <button
                  type="submit"
                  id="checkout"
                  class="cart__checkout-button button"
                  name="checkout"
                  {% if cart == empty %}
                    disabled
                  {% endif %}
                  form="cart"
                >
                  {{ 'sections.cart.checkout' | t }}
                </button>
              </div>

              {%- if additional_checkout_buttons -%}
                <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {%- endif -%}
            
            <div class="We_Accept">
                <p>We Accept</p>
                <img src="https://cdn.shopify.com/s/files/1/0897/6921/4241/files/image.png?v=1729740360" alt="" width="100%" height="" >
            </div>
            
          {%- endcase -%}
        {% endfor %}

        <div id="cart-errors"></div>
      </div>
    </div>
    <div class="Need_help">
      <p>Need help?</p>
      <div class="list">
        <div class="item">
            {% render 'icon-phone' %}
            <span>123-456-7890</span>
        </div>
        <div class="item">
            {% render 'icon-service' %}
          <span>123-456-7890</span>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-cart-footer.name",
  "class": "cart__footer-wrapper",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
