<style>
  #shopify-section-{{section.id}} .product-related{
    max-width: 1180px;
    margin: 30px auto;
    text-align: center;
  }
  #shopify-section-{{section.id}} .product-related .title{
    margin: 0;
    margin-bottom: 27px;
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    line-height: 48px;
    text-transform: capitalize;
  }
  @media screen and (max-width: 1200px) {
    #shopify-section-{{section.id}} .product-related .title{
      font-size: 36px;
      margin-bottom: 20px;
      line-height: 40px;
    }
  }
  @media screen and (max-width: 749px) {
    #shopify-section-{{section.id}} .product-related .title{
      font-size: 26px;
    }
  }
</style>


<div class="product-related">
  <h2 class="title">{{section.settings.title}}</h2>
  
</div>

{% schema %}
{
  "name": "Product related",
  "tag": "section",
  "class": "related",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "Related Products"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "collection"
    }
  ],
  "presets": [
    {
      "name": "Product related"
    }
  ]
}
{% endschema %}
