<style>
  @media screen and (max-width: 749px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.4 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.4 | round: 0 }}px;
    }
      #shopify-section-{{section.id}} .tabs {
    display: flex;
    flex-direction: column;    
    width: 100%;
    gap:1rem;
  }
  #shopify-section-{{section.id}} .tab-titles {
    width: 100%;
    box-sizing: border-box;
    display: flex;
  }
  #shopify-section-{{section.id}} .tab-titles button {
    width: 100%;
    padding: 5px 0px;
    border: none;
    color: #222;
    cursor: pointer;
    text-align: center;
    background-color: #fff;
    font-family:lato;
  }
      #shopify-section-{{section.id}} .tab-content {
    flex-grow: 1;
    padding: 0px;
    
  }
      #shopify-section-{{section.id}} .tab-titles button.active {
    border-bottom: 1px solid#83A78D;
  }
  }
      
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
      #shopify-section-{{section.id}} .tabs {
    display: flex;
    width: 100%;
    gap:3rem;
  }
  #shopify-section-{{section.id}} .tab-titles {
    width: 200px;
    box-sizing: border-box;
  }
  #shopify-section-{{section.id}} .tab-titles button {
    width: 100%;
    padding: 15px;
    border: none;
    color: #222;
    cursor: pointer;
    text-align: left;
    margin-bottom:2rem;
    background-color: #fff;
    font-family:lato;
  }
      #shopify-section-{{section.id}} .tab-content {
    flex-grow: 1;
    padding: 0 20px;
    
  }
      #shopify-section-{{section.id}} .tab-titles button.active {
    background-color: #83A78D;
    color:#fff;
  }
  }
  



  #shopify-section-{{section.id}} .content {
    display: none;
  }
  #shopify-section-{{section.id}} .content.active {
    display: block;
  }
</style>

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
  <div class="page-width">
    <div class="tabs">
        <div class="tab-titles">
          {% for block in section.blocks %}
            <button {% if forloop.index == 1 %} class="active"{% endif %} onclick="showContent({{ forloop.index0 }})">{{ block.settings.title }}</button>
          {% endfor %}
        </div>
        <div class="tab-content">
          {% for block in section.blocks %}
            <div class="content {% if forloop.index == 1 %} active{% endif %}">{{ block.settings.content }}</div>
          {% endfor %}
        </div>
    </div>
  </div>
</div>

    <script>
        function showContent(index) {
            const buttons = document.querySelectorAll('#shopify-section-{{section.id}} .tab-titles button');
            const contents = document.querySelectorAll('#shopify-section-{{section.id}} .tab-content .content');

            buttons.forEach((button, i) => {
                button.classList.toggle('active', i === index);
            });

            contents.forEach((content, i) => {
                content.classList.toggle('active', i === index);
            });
        }
    </script>


{% schema %}
  {
    "name": "Product Tabs",
    "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },      
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }      
    ],
  "blocks": [
    {
      "type": "tab",
      "name": "tab",
      "settings": [        
        {
          "type": "text",
          "id": "title",
          "label": "title"
        },       
        {
          "type": "richtext",
          "id": "content",
          "label": "content"
        }
      ]
    }
  ],
    "presets":[{"name": "Product Tabs"}]
  }
{% endschema %}