<style>
  #shopify-section-{{section.id}}.product-igi{

  }
  .flex{
    display: flex;
  }
  .trigger-box{
    display: flex;
    gap: 70px;
    justify-content: space-between;
  }
  .trigger-box .item-with-icons img{

  }
  @media screen and (max-width: 1024px){

  }
  @media screen and (max-width: 749px) {

  }
</style>

<div class="product-igi-wrapper page-width section-pt section-pb">
  <h2 class="section-title">{{section.settings.title}}</h2>
  <div class="trigger-box">
    <div class="media-box">
      {% render 'responsive-image',
        sid: section.id,
        image_desktop: section.settings.image_pc,
        image_mobile: section.settings.image_m,
        alt: section.settings.title,
        lazy: true,
        preload: false
      %}
    </div>
    <div class="info-box">
      {% for block in section.blocks %} 
        {% if block.type == 'item1' %}
          <div class="item item-with-icons">
            <h3>{{ block.settings.title_main }}</h3>
            <div class="flex">
              <div class="icon-box">
                <img src="{{ block.settings.icon1 | img_url: 'master' }}" alt="block.settings.title_main" loading="lazy" width="" height="">
              </div>
              <div>
                <div class="icon-title">{{ block.settings.title1 }}</div>
                <p class="icon-content">{{ block.settings.content1}}</p>
              </div>
            </div>
            <div class="flex">
              <div class="icon-box">
                <img src="{{ block.settings.icon2 | img_url: 'master' }}" alt="block.settings.title_main" loading="lazy" width="" height="">
              </div>
              <div>
                <div class="icon-title">{{ block.settings.title2 }}</div>
                <p class="icon-content">{{ block.settings.content2}}</p>
              </div>
            </div>
            <div class="flex">
              <div class="icon-box">
                <img src="{{ block.settings.icon4 | img_url: 'master' }}" alt="block.settings.title_main" loading="lazy" width="" height="">
              </div>
              <div>
                <div class="icon-title">{{ block.settings.title3 }}</div>
                <p class="icon-content">{{ block.settings.content3}}</p>
              </div>
            </div>
            <div class="flex">
              <div class="icon-box">
                <img src="{{ block.settings.icon4 | img_url: 'master' }}" alt="block.settings.title_main" loading="lazy" width="" height="">
              </div>
              <div>
                <div class="icon-title">{{ block.settings.title4 }}</div>
                <p class="icon-content">{{ block.settings.content4}}</p>
              </div>
            </div>
          </div>
        {% else %}
          <div class="item item-without-icons">
            <h3>{{ block.settings.title }}</h3>
            <p>{{ block.settings.content }}</p>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "IGI Certified Diamonds",
  "tag": "section",
  "class": "product-igi",
  "limit": 1,
  "max_blocks": 2,
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "title",
      "default": "IGI Certified Diamonds: Trusted, Precise, Transparent"
    },
    {
      "type": "image_picker",
      "id": "image_pc",
      "label": "image pc"
    },
    {
      "type": "image_picker",
      "id": "image_m",
      "label": "image mobile"
    },
    {
      "type": "url",
      "id": "url",
      "label": "url"
    },
    {
      "type": "text",
      "id": "btn_name",
      "label": "button name",
      "default": "LEARN MORE"
    }
  ],
  "blocks": [
      {
        "type": "item1",
        "name": "Item with icons",
        "settings": [
          {
            "type": "text",
            "id": "title_main",
            "label": "main title"
          },
          {
            "type": "image_picker",
            "id": "icon1",
            "label": "icon 1"
          },
          {
            "type": "text",
            "id": "title1",
            "label": "title 1"
          },
          {
            "type": "textarea",
            "id": "content1",
            "label": "content 1"
          },
          {
            "type": "image_picker",
            "id": "icon2",
            "label": "icon 2"
          },
          {
            "type": "text",
            "id": "title2",
            "label": "title 2"
          },
          {
            "type": "textarea",
            "id": "content2",
            "label": "content 2"
          },
          {
            "type": "image_picker",
            "id": "icon3",
            "label": "icon 3"
          },
          {
            "type": "text",
            "id": "title3",
            "label": "title 3"
          },
          {
            "type": "textarea",
            "id": "content3",
            "label": "content 3"
          },
          {
            "type": "image_picker",
            "id": "icon4",
            "label": "icon 4"
          },
          {
            "type": "text",
            "id": "title4",
            "label": "title 4"
          },
          {
            "type": "textarea",
            "id": "content4",
            "label": "content 4"
          }
        ]
      },
      {
        "type": "item2",
        "name": "Item without icons",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "title"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "content"
          }
        ]
      }
  ],
  "presets": [
    {
      "name": "IGI Certified Diamonds"
    }
  ]
}
{% endschema %}
