<style>
  #shopify-section-{{section.id}}.product-perfection{
    padding: 100px 0 60px;
    background-color: #f5f5f5;
  }
  #shopify-section-{{section.id}}.product-perfection img{
    width: auto;
  }
  .product-perfection .top-wrapper{
    display: flex;
  }
  .product-perfection .section-title{
    margin-bottom: 50px;
    text-align: left;
  }
  .product-perfection .logo-wrapper{
    display: flex;
    gap: 12px;
    font-weight: 500;
  }
  .product-perfection .logo-wrapper p{
    font-size: 14px;
  }
  @media screen and (max-width: 1200px) {
    #shopify-section-{{section.id}}.product-perfection{
      padding: 60px 0 60px;
    }
    .product-perfection .section-title{
      margin-bottom: 25px;
    }
  }
  @media screen and (max-width: 749px) {


  }
</style>

{% assign full_width = '100vw' %}
{% assign sizes = full_width %}
{% assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840' %}
<div class="product-perfection-wrapper page-width">
  <div class="top-wrapper">
    <div class="title-box">
      <h2 class="section-title">{{section.settings.title}}</h2>
      <div class="logo-wrapper">
        <div class="logo">
          {{
            section.settings.icon
              | image_url: width: 3840
              | image_tag:
                width: section.settings.icon.width,
                height: section.settings.icon.height,
                class: '',
                sizes: sizes,
                widths: widths,
                loading: 'lazy'
          }}
        </div>
        <p style="margin: 0;">{{section.settings.text}}</p>
      </div>
    </div>
    <div class="image-wrapper">
      {% render 'responsive-image',
        sid: section.id,
        image_desktop: section.settings.img_pc,
        image_mobile: section.settings.img_pc,
        alt: section.settings.title,
        lazy: true,
        preload: false
      %}
    </div>
  </div>
  {% comment %} <div class="product-perfection-grid">
    {% for block in section.blocks %}
      <div class="product-perfection-item">
        {{
              block.settings.icon
              | image_url: width: 3840
              | image_tag:
                width: block.settings.icon.width,
                height: block.settings.icon.height,
                class: '',
                sizes: sizes,
                widths: widths,
                loading: 'lazy'
        }}
        <div class="content-box">
          <h3 class="item-title">{{block.settings.title}}</h3>
          <p class="item-text">{{block.settings.content}}</p>
        </div>
      </div>
    {% endfor %}

  </div> {% endcomment %}
</div>

{% schema %}
{
  "name": "Diamond Perfection",
  "tag": "section",
  "class": "product-perfection",
  "limit": 1,
  "max_blocks": 4,
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "title",
      "default": "Hearts and Arrows: The Pinnacle of Diamond Perfection"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "image(logo)"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "text"
    },
    {
      "type": "image_picker",
      "id": "img_pc",
      "label": "image pc(main)"
    },
    {
      "type": "image_picker",
      "id": "img_m",
      "label": "image mobile(main)"
    }
  ],
  "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "icon"
          },
          {
            "type": "text",
            "id": "title",
            "label": "title"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "content"
          }
        ]
      }
  ],
  "presets": [
    {
      "name": "Diamond Perfection"
    }
  ]
}
{% endschema %}
