<style>
  #shopify-section-{{section.id}}.product-trusted{
    padding: 100px 0 0;
  }
  #shopify-section-{{section.id}} .product-trusted-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px 200px;
    background-image: url({{section.settings.bg | img_url:'master'}});
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 490px 560px;
  }
  #shopify-section-{{section.id}} .section-title{
    margin-bottom: 70px;
  }
  .trusted-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 60px;
  }
  .trusted-grid .trusted-item{
    gap: 18px;
    display: flex;
    align-items: center;
  }
  .trusted-grid .trusted-item img{
    max-width: 80px;
  }
  .trusted-grid .trusted-item .item-title{
    margin: 0 0 7px;
    color: #121212;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
  }
  .trusted-grid .trusted-item .item-text{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }
  @media screen and (max-width: 1200px) {
    #shopify-section-{{section.id}}.product-trusted{
      padding: 60px 0 0;
    }
    #shopify-section-{{section.id}} .section-title{
      margin-bottom: 40px;
    }
    .trusted-grid .trusted-item .item-title{
      font-size: 16px;
      line-height: 20px;
    }
    .trusted-grid .trusted-item .item-text{
      font-size: 12px;
      line-height: 18px;
    }
    .trusted-grid .trusted-item img{
      max-width: 60px;
      height: auto;
      object-fit: contain;
    }
    #shopify-section-{{section.id}} .product-trusted-wrapper{
      background-size: 350px 440px;
    }
    .trusted-grid{
      column-gap: 20px;
    }
  }
  @media screen and (max-width: 749px) {
    .trusted-grid{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      column-gap: 22px;
      row-gap: 27px;
    }
    .trusted-grid .trusted-item{
      gap: 12px;
      flex-direction: column;
    }
    .trusted-grid .trusted-item .content-box{
      text-align: center;
    }
  }
</style>

{% assign full_width = '100vw' %}
{% assign sizes = full_width %}
{% assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840' %}
<div class="product-trusted-wrapper">
  <h2 class="section-title">{{section.settings.title}}</h2>
  <div class="trusted-grid">
    {% for block in section.blocks %}
      <div class="trusted-item">
        {{
              block.settings.icon
              | image_url: width: 3840
              | image_tag:
                width: block.settings.icon.width,
                height: block.settings.icon.height,
                class: '',
                sizes: sizes,
                widths: widths,
                loading: 'lazy'
        }}
        <div class="content-box">
          <h3 class="item-title">{{block.settings.title}}</h3>
          <p class="item-text">{{block.settings.content}}</p>
        </div>
      </div>
    {% endfor %}

  </div>
</div>

{% schema %}
{
  "name": "Trusted Online Jeweler",
  "tag": "section",
  "class": "product-trusted",
  "limit": 1,
  "max_blocks": 6,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "Your Trusted Online Jeweler for Lab-Grown Diamonds"
    },
    {
      "type": "image_picker",
      "id": "bg",
      "label": "image pc"
    }
  ],
  "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "icon"
          },
          {
            "type": "text",
            "id": "title",
            "label": "title"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "content"
          }
        ]
      }
  ],
  "presets": [
    {
      "name": "Trusted Online Jeweler"
    }
  ]
}
{% endschema %}
