<style>
  #shopify-section-{{section.id}}.product-igi{

  }
  #shopify-section-{{section.id}}.product-igi .flex{
    display: flex;
    gap: 8px;
    align-items: center;
  }
  #shopify-section-{{section.id}}.product-igi .flex:not(:last-of-type){
    margin-bottom: 16px;
  }
  .trigger-box{
    display: flex;
    gap: 70px;
    justify-content: space-between;
  }
  .trigger-box .item-with-icons .icon-box{
    width: 38px;
    flex-shrink: 0;
  }
  .trigger-box .item-with-icons .icon-box img{
    width: auto;
    margin: 0 auto;
  }
  .title-main{
    color: #787878;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
    margin: 0 0 18px;
  }
  .title-main.active{
    color: #79A88B;
  }
  .trigger-box .icon-content{
    margin: 0;
    color: #787878;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
  }
  .trigger-box .icon-title{
    color: #121212;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 3px;
  }
  .item-with-icons{
    margin-bottom: 50px;
  }
  .info-box .item{
    padding-left: 20px;
    border-left: 4px solid #e9e9e9;
  }
  .info-box .item.active{
    border-left: 4px solid #79A88B;
  }
  .product-igi-wrapper .view-more{
    margin: 50px 0 0;
    display: flex;
    width: 190px;
    height: 42px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1px solid #121212;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
  }
  .product-igi-wrapper .view-more:hover{
    background-color: #121212;
    color: #fff;
  }
  @media screen and (max-width: 1024px){

  }
  @media screen and (max-width: 749px) {

  }
</style>

<div class="product-igi-wrapper page-width section-pt section-pb">
  <h2 class="section-title">{{section.settings.title}}</h2>
  <div class="trigger-box">
    <div class="media-box">
      {% render 'responsive-image',
        sid: section.id,
        image_desktop: section.settings.image_pc,
        image_mobile: section.settings.image_m,
        alt: section.settings.title,
        lazy: true,
        preload: false
      %}
    </div>
    <div class="info-box">
      {% for block in section.blocks %} 
        {% if block.type == 'item1' %}
          <div class="item item-with-icons active">
            <h3 class="title-main active">{{ block.settings.title_main }}</h3>
            <div class="flex">
              <div class="icon-box">
                <img src="{{ block.settings.icon1 | img_url: 'master' }}" alt="block.settings.title_main" loading="lazy" width="" height="">
              </div>
              <div>
                <div class="icon-title">{{ block.settings.title1 }}</div>
                <p class="icon-content">{{ block.settings.content1}}</p>
              </div>
            </div>
            <div class="flex">
              <div class="icon-box">
                <img src="{{ block.settings.icon2 | img_url: 'master' }}" alt="block.settings.title_main" loading="lazy" width="" height="">
              </div>
              <div>
                <div class="icon-title">{{ block.settings.title2 }}</div>
                <p class="icon-content">{{ block.settings.content2}}</p>
              </div>
            </div>
            <div class="flex">
              <div class="icon-box">
                <img src="{{ block.settings.icon3 | img_url: 'master' }}" alt="block.settings.title_main" loading="lazy" width="" height="">
              </div>
              <div>
                <div class="icon-title">{{ block.settings.title3 }}</div>
                <p class="icon-content">{{ block.settings.content3}}</p>
              </div>
            </div>
            <div class="flex">
              <div class="icon-box">
                <img src="{{ block.settings.icon4 | img_url: 'master' }}" alt="block.settings.title_main" loading="lazy" width="" height="">
              </div>
              <div>
                <div class="icon-title">{{ block.settings.title4 }}</div>
                <p class="icon-content">{{ block.settings.content4}}</p>
              </div>
            </div>
          </div>
        {% else %}
          <div class="item item-without-icons">
            <h3 class="title-main">{{ block.settings.title }}</h3>
            <p class="icon-content">{{ block.settings.content }}</p>
          </div>
        {% endif %}
      {% endfor %}

      {% if section.settings.url != blank %}
        <a href="{{ section.settings.url }}" class="view-more" target="_blank">{{ section.settings.btn_name }}</a>
      {% endif %}
    </div>
  </div>
</div>

<script src="https://cdn.shopify.com/s/files/1/0897/6921/4241/files/gsap.min.js?v=1741231092" defer></script>
<script src="https://cdn.shopify.com/s/files/1/0897/6921/4241/files/ScrollTrigger.min.js?v=1741231096" defer></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    gsap.registerPlugin(ScrollTrigger);

    const container = $('.product-igi');
    const itemsWithIcons = document.querySelectorAll('.item-with-icons');
    const itemsWithoutIcons = document.querySelectorAll('.item-without-icons');
    const endPoint = window.innerHeight * 0.5;

    handleScroll();

    function handleScroll() {
      ScrollTrigger.matchMedia({
        "(min-width: 750px)": function () {
          itemsWithIcons.forEach((itemWithIcons, index) => {
            const itemWithoutIcons = itemsWithoutIcons[index];

            ScrollTrigger.create({
              trigger: itemWithIcons,
              start: 'top center',
              end: 'bottom center',
              onEnter: () => {
                itemWithIcons.classList.remove('active');
                itemWithoutIcons.classList.add('active');
              },
              onLeaveBack: () => {
                itemWithIcons.classList.add('active');
                itemWithoutIcons.classList.remove('active');
              },
              scrub: true,
              invalidateOnRefresh: true,
            });
          });
        }
      });
    }

    $(window).resize(function() {
      ScrollTrigger.refresh();
    });
  });
</script>

{% schema %}
{
  "name": "IGI Certified Diamonds",
  "tag": "section",
  "class": "product-igi",
  "limit": 1,
  "max_blocks": 2,
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "title",
      "default": "IGI Certified Diamonds: Trusted, Precise, Transparent"
    },
    {
      "type": "image_picker",
      "id": "image_pc",
      "label": "image pc"
    },
    {
      "type": "image_picker",
      "id": "image_m",
      "label": "image mobile"
    },
    {
      "type": "url",
      "id": "url",
      "label": "url"
    },
    {
      "type": "text",
      "id": "btn_name",
      "label": "button name",
      "default": "LEARN MORE"
    }
  ],
  "blocks": [
      {
        "type": "item1",
        "name": "Item with icons",
        "settings": [
          {
            "type": "text",
            "id": "title_main",
            "label": "main title"
          },
          {
            "type": "image_picker",
            "id": "icon1",
            "label": "icon 1"
          },
          {
            "type": "text",
            "id": "title1",
            "label": "title 1"
          },
          {
            "type": "textarea",
            "id": "content1",
            "label": "content 1"
          },
          {
            "type": "image_picker",
            "id": "icon2",
            "label": "icon 2"
          },
          {
            "type": "text",
            "id": "title2",
            "label": "title 2"
          },
          {
            "type": "textarea",
            "id": "content2",
            "label": "content 2"
          },
          {
            "type": "image_picker",
            "id": "icon3",
            "label": "icon 3"
          },
          {
            "type": "text",
            "id": "title3",
            "label": "title 3"
          },
          {
            "type": "textarea",
            "id": "content3",
            "label": "content 3"
          },
          {
            "type": "image_picker",
            "id": "icon4",
            "label": "icon 4"
          },
          {
            "type": "text",
            "id": "title4",
            "label": "title 4"
          },
          {
            "type": "textarea",
            "id": "content4",
            "label": "content 4"
          }
        ]
      },
      {
        "type": "item2",
        "name": "Item without icons",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "title"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "content"
          }
        ]
      }
  ],
  "presets": [
    {
      "name": "IGI Certified Diamonds"
    }
  ]
}
{% endschema %}
