<style>
  #shopify-section-{{section.id}}.product-returns{
    background-image: url({{section.settings.bg | img_url:'master'}});
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 40px 30px;
  }
  #shopify-section-{{section.id}} .product-returns-wrapper{
    max-width: 1180px;
    margin: 30px auto;
    text-align: center;
  }
  #shopify-section-{{section.id}} .product-returns-wrapper .title{
    margin: 0;
    margin-bottom: 27px;
    color: #121212;
    font-size: 50px;
    font-weight: 500;
    line-height: 48px;
    text-transform: capitalize; 
  }
  #shopify-section-{{section.id}} .product-returns-wrapper .content{
    margin: 0;
    color: #121212;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }
  @media screen and (max-width: 1200px) {
    #shopify-section-{{section.id}} .product-returns-wrapper .title{
      font-size: 36px;
      margin-bottom: 20px;
      line-height: 40px;
    }
  }
  @media screen and (max-width: 749px) {
    #shopify-section-{{section.id}} .product-returns-wrapper .title{
      font-size: 26px;
    }
    #shopify-section-{{section.id}} .product-returns-wrapper .content{
      font-size: 12px;
    }
    #shopify-section-{{section.id}} .product-returns-wrapper{
      margin: 0px auto;
    }
  }
</style>


<div class="product-returns-wrapper">
  <h2 class="title">{{section.settings.title}}</h2>
  <p class="content">{{section.settings.content}}</p>
</div>

{% schema %}
{
  "name": "30-Day Free",
  "tag": "section",
  "class": "product-returns",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "30-Day Free Returns"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "content",
      "default": "At Neoshine, we offer a 30-day free return policy for eligible U.S. orders, with free returns through UPS, ensuring that your purchase is perfect. If for any reason you are not completely satisfied with your order, return it within 30 days of shipment. Returns are accepted for defective products only."
    },
    {
      "type": "image_picker",
      "id": "bg",
      "label": "image pc"
    },
    {
      "type": "image_picker",
      "id": "bg_m",
      "label": "image mobile"
    }
  ],
  "presets": [
    {
      "name": "30-Day Free"
    }
  ]
}
{% endschema %}
